# dependencies
node_modules/
.pnp
.pnp.js

# env
.env
.env.*
!.env.example

# build
dist/
.next/
out/
build/
coverage/
*.tsbuildinfo
next-env.d.ts

# prisma generated client
apps/api/src/generated/

# logs
logs/
*.log
npm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/
*.swp

# local database data
.pg/
